// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// First Mobile
.navbar-logo {
  width: 180px;
}

.nav-link:hover {
  color: $primary !important;
  font-weight: bold;
}

// Desktop
@media (min-width: 600px) {
  .navbar-logo {
    width: auto;
    height: auto;
  }
}