// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// First Mobile
html,
body{
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

.navbar-logo {
  width: 180px;
}

.nav-link:hover {
  color: $primary !important;
  font-weight: bold;
}

// Pages
.home--card {
  width: 300px;

  img {
    width: -webkit-fill-available;
    height: 170px;
  }
}

// Desktop
@media (min-width: $sm) {
  .navbar-logo {
    width: auto;
    height: auto;
  }
}

@media (min-width: $xxl) {
  .home--card {
    width: 400px;

    img {
      width: auto;
    }
  }
}